.venv
**/tmp/

*.sif

*.csv

**/logs/
*.log
*.out
*.txt
*.tex

*.png
*.pdf
!assets/GraphicalAbstract.pdf
*.svg

*.RData
*.rds
*.RDS

*.pickle
*.h5
*.h5ad
*.zip
**/*.zarr/
*.json
*.parquet

repo

__pycache__
.ipynb_checkpoints

NMF_*
